<!DOCTYPE html>
<html>

<head>
	<title>老师信息查询界面</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="" />
    <style>
.header-text {
    background-color: #009688; /* 设置背景颜色为深绿色 */
    color: #FFFFFF; /* 设置字体颜色为白色 */
    padding: 10px 20px; /* 设置内边距 */
    font-size: 20px; /* 设置字体大小 */
    border-radius: 5px; /* 设置圆角边框 */
    font-family: '微软雅黑'; /* 使用引号包裹字体族名称 */
    display: inline-block; /* 将元素视为内联块元素 */
}

    </style>
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="{{url_for('static',filename='css/bootstrap.css')}}" rel='stylesheet' type='text/css' />
	<link href="{{url_for('static',filename='css/style.css')}}" rel='stylesheet' type='text/css' />
	<link href="{{url_for('static',filename='css/font-awesome.css')}}" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Mallanna" rel="stylesheet">
	<link href="{{url_for('static',filename='css/contact.css')}}" rel='stylesheet' type='text/css' />
</head>

<body>
	<!--Header-->
	<div class="top-bar_sub_w3layouts_agile">
		<h6>了解导师不用愁 <a href="contact.html" >联系我们 </a></h6>
		<div class="search">
    <input type="text" id="keywordInput" placeholder="请输入">
    <button style="background-color: #009688; color: white; width: 50px;
        height: 38px;" id="search_btn">查询</button>
</div>

<style>
    input[type="text"] {
        width: 100px;
        height: 38px;
    }
</style>

			<!--<h6 id="search_btn">查询</h6>-->
			<!--<button id="search_btn">查询</button>-->
			<!--使用 CSS 来设置输入框的宽度-->
			<!--<style>
				input[type="text"] {
					width: 100px;
					height: 38px;
				}
			</style>
			<input type="text" id="SearchInput" name="SearchInput">-->

		<div class="clearfix"> </div>
	</div>
	<div class="header inner_banner" id="home">
		<!--/top-bar-->
		<div class="top-bar">
			<div class="header-nav-agileits">

				<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<h1><a class="navbar-brand" href="index.html">Trust <span>Tutor Search</span></a></h1>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->

				</nav>

			</div>
		</div>
		<!--//top-bar-->
		<!--/ banner-text -->
		<!--// banner-text -->
	</div>
	<!--//inner_banner-->
	<!--/short-->
	<div class="services-breadcrumb-w3ls-agile">
		<div class="inner_breadcrumb">

			<ul class="short">
				<li><a href="index.html">Home</a><span>|</span></li>
			</ul>
		</div>
	</div>
	<!--//short-->
	<!-- //inner_content -->

	<!-- Modal1 -->
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>

					<div class="signin-form profile">

						<div class="login-m_page_img">

							<img src="images/model.jpg" alt=" " class="img-responsive" />

						</div>
						<div class="login-m_page">
							<h3 class="sign">Sign In</h3>
							<div class="login-form-wthree-agile">
								<form action="#" method="post">
									<input type="email" name="email" placeholder="E-mail" required="">
									<input type="password" name="password" placeholder="Password" required="">
									<div class="tp">
										<input type="submit" value="Sign In">
									</div>
								</form>
							</div>
							<div class="login-social-grids">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-rss"></i></a></li>
								</ul>
							</div>
							<p><a href="#" data-toggle="modal" data-target="#myModal3"> Don't have an account?</a></p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--//Header-->
	<div class="tutor" style=" margin-bottom: 20px">
		<img src="tutor.jpg" alt="Tutor picture">
	</div>
	<div class="index">
		<div class="basic_info">
			<div class="w12">
                    <div class="jump-top ititle">
                        <h3 class="header-text" style=" margin-bottom: 10px">基本信息</h3>
                    </div>
                    <div id="info_detail" style=" margin-bottom: 20px">
                    </div>
			</div>
		</div>
		<div class="search_area">
			<div class="w12">
                    <div class="jump-top ititle">
                        <h3 class="header-text" style=" margin-bottom: 10px">研究领域</h3>
                    </div>
                    <div id="search_detail" style=" margin-bottom: 20px">
                    </div>
			</div>
		</div>
		<div class="bio">
			<div class="w12">
                    <div class="jump-top ititle">
                        <h3 class="header-text" style=" margin-bottom: 10px">个人简介</h3>
                    </div>
                    <div id="bio_detail" style=" margin-bottom: 20px">
                    </div>
			</div>
		</div>

		<div class="relationship">
			<div class="w12">
                    <div class="jump-top ititle">
                        <h3 class="header-text" style=" margin-bottom: 10px">关系图谱</h3>
                    </div>
                    <div id="rela_detail" style=" margin-bottom: 20px">
                    </div>
			</div>
		</div>
	</div>
	</div>

	<!--footer-->
	<div class="contact-footer-w3layouts-agile">

		<div class="bottom-social-agileits-w3ls">
			<div class="container">
				<div class="col-md-8 botttom-nav-w3ls-agileits">
					<ul class="f_links col-md-4">
						<li>
							<a href="index.html">Home</a>
						</li>
						<li>
							<a href="about.html">About</a>
						</li>
						<li>
							<a href="services.html">Services</a>
						</li>
						<li>
							<a href="courses.html">Courses</a>
						</li>
						<li>
							<a href="contact.html">Contact</a>
						</li>
					</ul>
					<ul class="f_links col-md-4">
						<li>
							<a href="index.html">Topics</a>
						</li>
						<li>
							<a href="404.html">Blog</a>
						</li>
						<li>
							<a href="404.html">Careers</a>
						</li>
						<li>
							<a href="services.html">Services</a>
						</li>

					</ul>
					<ul class="f_links thrd col-md-4">
						<li>
							<a href="index.html">Topics</a>
						</li>
						<li>
							<a href="404.html">Events</a>
						</li>
						<li>
							<a href="app.html">Mobile App</a>
						</li>


					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-4 social-icons-wthree">
					<h6>Connect with us</h6>
					<a class="facebook" href="#"><span class="fa fa-facebook"></span></a>
					<a class="twitter" href="#"><span class="fa fa-twitter"></span></a>
					<a class="pinterest" href="#"><span class="fa fa-pinterest-p"></span></a>
					<a class="linkedin" href="#"><span class="fa fa-linkedin"></span></a>
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
		<div class="copy-w3-agileits">
			<h2 class="footer-logo"><a href="index.html">Trust <span>Tutor Search</span></a></h2>
			<div class="clearfix"></div>
		</div>
	</div>
	<!--/footer -->
	<!-- js -->
	<script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
	<!-- //js -->
	<!--search-bar-->
	<script src="js/main.js"></script>
	<!--//search-bar-->
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear'
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>


</body>

</html>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$('#search_btn').click(function(){
			data=$('#keywordInput').val();
			console.log(data);
			if(data==''){
				alert('不能为空！');
				return false;
			}

			var params={
				'keywordInput':data
			};

			var url='/GetTeacherInfo';
			$.post(url,params,function(res){
				console.log(res);
				console.log(res.bio);
				// 获取用于显示教师信息的 div 元素
                var teacherInfoDiv = document.getElementById('info_detail');

                // 创建用于显示教师信息的 HTML 内容
                var htmlContent = `
                   <ul>
                      <li><strong>姓名：</strong>${res.name}</li>
                      <li><strong>任职学校：</strong>同济大学</li>
                      <li><strong>职称：</strong>${res.title}</li>
                      <li><strong>导师类型：</strong>${res.type}</li>
                      <li><strong>邮箱：</strong>${res.email}</li>
                      <li><strong>专业：</strong>${res.major}</li>
                      <li><strong>电话：</strong>${res.phone}</li>
                      <li><strong>地址：</strong>${res.address}</li>
                   </ul>
                `;
                // 将 HTML 内容插入到 div 元素中
                teacherInfoDiv.innerHTML = htmlContent;

                // 获取用于显示教师研究领域的 div 元素
                var teacherSearchDiv = document.getElementById('search_detail');
                // 创建用于显示教师信息的 HTML 内容
                var htmlContent = `
                   <ul>
                      <li><strong>科目：</strong>${res.subject}</li>
                      <li><strong>研究领域：</strong>${res.research_area}</li>
                   </ul>
                `;
                // 将 HTML 内容插入到 div 元素中
                teacherSearchDiv.innerHTML = htmlContent;

                // 获取用于显示教师个人简介的 div 元素
                var teacherBioDiv = document.getElementById('bio_detail');
                // 创建用于显示教师信息的 HTML 内容
                var htmlContent = `
                <ul>
                      <li><strong>简介：</strong>${res.bio}</li>
                </ul>
                `;
                // 将 HTML 内容插入到 div 元素中
                teacherBioDiv.innerHTML = htmlContent;
			})
		})
	})


</script>